.top-section {
    flex-direction: row;
    flex-grow: 0.1;
    margin-bottom: 5px;
}

.top-section-right {
    align-self: flex-end;
    height: 100%;
    width: 80%;
}

.top-section-left {
    width: 20%;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 10px;
}

.header {
    flex-direction: row;
    color: rgb(169, 169, 168);
    height: 100%;
    padding-right: 10px;
    -unity-text-align: middle-left;
    font-size: 32px;
}

.slider-container {
    background-color: rgb(51, 51, 51);
    height: 60%;
    border-bottom-width: 1px;
    border-left-color: rgb(22, 22, 22);
    border-right-color: rgb(22, 22, 22);
    border-top-color: rgb(22, 22, 22);
    border-bottom-color: rgb(22, 22, 22);
}

.slider-handle {
    height: 100%;
    background-color: rgb(169, 169, 168);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

.slider-inputfield {
    width: 5%;
    color: rgb(34, 34, 34);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.slider-inputfield > #unity-text-input {
    background-color: rgb(169, 169, 168);
    -unity-text-align: upper-center;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.close-timeline {
    height: 48px;
    width: 100%;
    flex-direction: column-reverse;
    align-items: stretch;
    transition-property: height;
    transition-duration: 0.2s;
}

.open-timeline {
    height: 41%;
    width: 100%;
    flex-direction: column-reverse;
    align-items: stretch;
    transition-property: height;
    transition-duration: 0.2s;
}

.keyframe-container {
    flex-grow: 1;
}

.delete-keyframe-button {
    background-color: rgb(140, 140, 140);
    color: rgb(43, 43, 43);
    margin-top: 5px;
    margin-bottom: 5px;
}

.header > .unity-label {
    flex-grow: 1;
}

.rotate {
    rotate: 180deg;
}

.play-button {
    width: 48px;
    height: 48px;
    background-image: resource('UI/play');
    background-color: rgb(140, 140, 140);
    -unity-background-image-tint-color: rgb(43, 43, 43);
    background-size: 60% 60%;
}

.hide {
    display: none;
    visibility: hidden;
    transition-property: display;
    transition-delay: 0.2s;
}
