.header {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    color: rgb(169, 169, 168);
}

.slider-container {
    background-color: rgb(51, 51, 51);
}

.slider-handle {
    width: 20px;
    height: 20px;
    background-color: rgb(169, 169, 168);
}

.slider-inputfield {
    width: 50px;
    color: rgb(34, 34, 34);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.slider-inputfield > #unity-text-input {
    background-color: rgb(169, 169, 168);
    -unity-text-align: upper-center;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
}

.keyframe-container {
}
